<html>
  <head>
    {% if title %}
    <title> [[ title ]] - Skill Share</title>
    {% else %}
    <title>Skill Share</title>
    {% endif %}
  </head>
  <bdoy>
    <div>Skill Share
      <a href="/learn">Learn</a>
      <a href="/teach">Teach</a>
      <a href="/login">Login</a>

    </div>
    <hr>
   {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </bdoy>
</html>
  
